<h1 class="text-center">Editing Bookmark</h1>
<br>

<%= render 'form', bookmark: @bookmark %>

<div class="row text-center">
  <%= link_to 'Show', @bookmark %> |
  <%= link_to 'Back', bookmarks_path %>
</div>
