<div class="col-md-12 text-center">
  <h1>RoR chat</h1>
</div>

<div class="col-sm-8 col-sm-offset-2">
  <div class="well infobox">
    <p class="text-center">
      <b>RoR-chat</b> is a simple multi-conversations message app build freely for anyone usins Ruby on Rails, Bootstrap, Bootstrap Material Design.<br>
    </p>

    <p>If you would like to use it, just register yourself and start to create conversations with others registered users. It is free yes.
      Please also don't forget to rate this project built when I started leaning Rails.
      <a href="https://github.com/dassiorleando/RORchat">Github RORchat</a>.</p>

    <div class="btn-group btn-group-justified btn-group-raised">
      <%= link_to new_user_session_path, class: 'btn btn-raised btn-info' do %>
          Sign In
      <% end %>
      <%= link_to new_user_session_path, class: 'btn btn-raised btn-primary' do %>
          Sign Up & Start to chat
      <% end %>
    </div>

  </div>
</div>